{% for field in form %}
                        <div aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                                <label for="{{ field.id_for_label }}" >{{ field.label }}{% if field.field.required %}<span >*</span>{% endif %}</label>
                                <div>
                                    {{ field }}
                                    {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" >{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                        </div>
{% endfor %}
